<nav
  class="bg-white border-gray-200 px-6 py-3 lg:px-32 lg:py-8 dark:bg-dark-500 mt-2"
>
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
  >
    <div class="mr-2 w-48 xl:w-60">
      <a routerLink="/">
        <app-logo [setActiveStyle]="exportStyle!"></app-logo>
      </a>
    </div>
    <div
      class="flex flex-row flex-nowrap items-center gap-2.5 xl:gap-7 rounded-xl px-2 xl:px-6 py-2 bg-light-400 dark:bg-dark-600"
    >
      <ul
        class="flex flex-col mt-3 font-roboto-condensed lg:flex-row gap-4 xl:gap-7 lg:mt-0.5 pl-2 text-sm"
      >
        @for (link of getNavLinks;track $index) {
        <li class="hover:opacity-80">
          @if(link.url.includes("#")){
          <a
            (click)="navigateToAnchor('contact')"
            [href]="'/' + link.url"
            class="block text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
            aria-current="page"
            >{{ link.title }}</a
          >
          }@else {<a
            routerLink="{{ link.url }}"
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            class="block text-white rounded bg-primary-700 lg:bg-transparent lg:text-primary-700 lg:p-0 dark:text-white"
            aria-current="page"
            >{{ link.title }}</a
          >}
        </li>
        }
      </ul>

      <div class="flex flex-row flex-nowrap items-center">
        <app-language-switcher
          (emitNavLinksOnClick)="inputNavLinksOnChange($event)"
        ></app-language-switcher>

        <div class="flex items-center gap-1">
          <button
            id="theme-toggle"
            type="button"
            class="text-dark-600 dark:text-extra-yellow hover:bg-light-400 dark:bg-dark-700 dark:hover:bg-dark-500 rounded-r-md text-sm px-2 py-1.5"
          >
            <svg
              id="theme-toggle-dark-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              ></path>
            </svg>
            <svg
              id="theme-toggle-light-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
