/* ! Tailwind & Behavior */
@tailwind base;
@tailwind components;
@font-face {
  font-family: "Roboto Condensed";
  src: local("Roboto Condensed"),
    url("/public/fonts/roboto/RobotoCondensed-Regular.ttf") format("ttf");
}
@tailwind utilities;

/* ! Core Styles */
body {
  background-color: #2d2d2f;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

/* ! Component Classes */
/* * Navbar */
.active-link {
  text-shadow: 0 0 12px #ffffff;
}
